body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 14px;
font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.block{
    margin: 30px 0 0 0;
    display: flex;
}